#HTML {background: #FF4500;}
#notepad {background: #9ACD32;}
#MVS {background:#7B68EE ;}
#ST {background:#808080 ;}
#WP {background:#48D1CC ;}
#AD {background: #EE82EE;}
form {background: #B8860B;}

